.jname-steps-card {
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 15px;

  &__timeline {
    position: relative;
    width: 15px;
    display: flex;
    justify-content: center;

    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__dot-container {
    position: relative;
  }

  &__outer-dot {
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background-color: var(--j-primary-color);
    opacity: 0.23;
  }

  &__inner-dot {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 8px;
    width: 8px;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    background-color: var(--j-primary-color);
  }

  &__line {
    margin-top: 0;
    width: 1px;
    border-left: 1px dashed var(--j-primary-color);

    &--visible {
      height: 100%;
    }

    &--hidden {
      height: 0;
    }
  }

  &__content {
    margin-left: 17px;
    flex: 1;

    &-header {
      display: flex;
      align-items: center;
    }

    &-body {
      margin-top: 15px;
      padding-left: 5px;
    }
  }
}
